---
// 基础框架
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
// 站点信息
import siteInfo from "../config/siteInfo";
// 知识点分类
import { keywords } from "../data/knowledgeClassify";
// 全局样式
import "../styles/global.css";
import "../styles/font.css";
// 搜索框组件
import SearchToTop from "../components/search/SearchToTop";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteInfo.title}</title>
    <meta name="description" content={siteInfo.description} />
    <link rel="icon" href={siteInfo.logo} />
    <meta name="keywords" content={keywords} />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0"
    />
    <meta http-equiv="Content-Language" content="en" />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <slot />
    <Footer />
    <SearchToTop client:load />
  </body>
</html>
